.Dictionary h1{
  font-size: 25px;
  text-align: center;
  
 
 
  margin-bottom: 20px;
  
    color: #66bfbf;
  


}

.Dictionary section{
  background:#fcfefe;
  padding:30px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.103);
  margin: 20px 0; 
}

.Dictionary input{
  width: 100%;
  border-radius:6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint{
  font-size:11px;
  margin-top: 5px;
}